@import "../../constants/colors.scss";

#home {
  padding: 10%;
  color: $blue;
  overflow: hidden;

  .homeSection {
    position: relative;
    margin-bottom: 10vw;
  }

  .homeTitle {
    font-size: 4.8vw;
    font-family: "Cabin";
  }

  section#homeTitleSection {
    padding-top: 80px;

    h1,
    h2 {
      color: $blue;
    }

    #homeTitle {
      font-size: 4.8vw;
      font-weight: bold;
      width: 67%;
    }

    h2 {
      font-size: 1.6vw;
      font-weight: 400;
      width: 67%;
    }

    #homeSubtitle1 {
      margin-top: 2.5vw;
    }
    #homeSubtitle2 {
      margin-bottom: 5vw;
    }

    #homeHeroContainer {
      position: relative;

      #homeHero {
        width: 100%;
      }

      #homeHeroImageBackground {
        position: absolute;
        top: -5vw;
        right: -5vw;
        height: 59.5vw;
        width: 15vw;
        background: $blue;
        z-index: -1;
      }
    }

    #cFlakesHomeHero1 {
      top: 5vw;
      right: -10vw;
      width: 78vw;
    }
    #cFlakesHomeHero2 {
      width: 100%;
      bottom: 0;
    }
  }

  section#homeAboutSection {
    #homeAboutContainer {
      display: flex;
      justify-content: space-between;
      background: $blue;
      padding: 50px;

      #homeAboutImageContainer {
        position: relative;

        #homeAboutImage {
          height: 350px;
          width: 2700px;
          object-fit: cover;
          z-index: 1;
          position: relative;
        }

        img#cFlakesHomeAbout3 {
          bottom: 0;
        }

        #homeAboutImageBackground {
          height: 400px;
          position: absolute;
          top: -25px;
          width: 150px;
          left: -25px;
          background: $orange;
        }
      }

      #homeAboutTextContainer {
        color: $white;
        padding-left: 25px;

        h1 {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 25px;
        }

        p {
          font-family: "Nunito";
          font-size: 15px;
        }
      }
    }

    img#cFlakesHomeAbout1 {
      left: -10vw;
      top: 0;
      width: 36vw;
    }

    img#cFlakesHomeAbout2 {
      right: -10vw;
      bottom: -18vw;
      width: 36vw;
    }
  }

  section#homeServicesSection {
    div#homeServicesTopContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5vw;

      div#homeServicesTitleContainer {
        width: 52%;

        h2 {
          font-size: 1.5vw;
          color: $blue;
        }
      }

      div#homeServicesStatsContainer {
        display: flex;
        align-items: center;
        width: 33%;
        justify-content: space-evenly;

        .homeServicesStatContainer {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-evenly;
          align-items: center;

          .homeServicesStatNumber {
            font-size: 5vw;
            color: $blue;
          }
          .homeServicesStatTitle {
            font-size: 2vw;
            color: $orange;
          }
        }
      }
    }
    #homeServicesBottomContainer {
      display: flex;
      div#homeServicesImageContainer {
        width: 50%;
        position: relative;
        display: inline-flex;

        img#homeServicesImage {
          object-fit: cover;
        }
      }
      div#homeServicesImageBackground {
        background: $blue;
        height: 62vw;
        width: 21vw;
        position: absolute;
        top: -3vw;
        left: -3vw;
        z-index: -1;
      }
      #cFlakesHomeServices1 {
        bottom: 0;
      }
      div#homeServicesTextContainer {
        width: 50%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;

        .homeServicesTextContainer {
          width: 50%;
          height: 50%;
          padding: 0 2.5%;

          .homeServicesTextTitle {
            font-family: "Cabin";
            color: $blue;
            font-size: 1.75vw;
            font-weight: bold;
            margin-bottom: 5%;
          }

          .homeServicesTextDescription {
            font-family: "Nunito";
            font-size: 1.5vw;
            margin-bottom: 10%;
            color: $blue;
          }
        }

        #homeServicesText4 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        #homeServicesTextButton {
          font-size: 1.5vw;
        }
      }
    }
  }

  section#homeWhyCivitasSection {
    display: flex;
    color: $blue;

    div#homeWhyCivitasLeftContainer {
      width: 67%;
      display: inline-flex;
      flex-direction: column;

      #homeWhyCivitasTitle {
        margin-bottom: 2.5%;
      }

      p {
        margin-bottom: 2%;
        font-family: "Nunito";
      }

      .homeWhyCivitasText {
        font-size: 1.5vw;
      }

      a#homeWhyCivitasButton {
        width: fit-content;
        margin-top: 5%;
        margin-left: 0;
        font-size: 1.5vw;
      }
    }
    div#homeWhyCivitasRightContainer {
      width: 33%;
      display: inline-flex;
      position: relative;

      img#homeWhyCivitasImage {
        object-fit: cover;
        object-position: center;
        width: 90%;
        margin: 0 auto;
      }

      img#cFlakesHomeWhyCivitas1 {
        position: absolute;
        right: -10vw;
        top: -10vw;
      }
    }
  }

  section#homeFaqSection {
    #cFlakesHomeFaq1 {
      right: -10vw;
      width: 30vw;
      top: -10vw;
    }
  }
}
