@media (min-width: 1440px) {
  #home {
    padding: 2.5% 5%;

    section#homeTitleSection {
      #homeTitle {
        font-size: 50px;
        width: 100%;
      }

      h2 {
        font-size: 20px;
        font-weight: 400;
        width: 100%;
      }

      #homeSubtitle1 {
        margin-top: 1.5vw;
      }

      #homeSubtitle2 {
        margin-bottom: 2.5vw;
      }

      #homeHeroContainer {
        #homeHero {
          width: 46%;
          margin: auto;
        }

        #homeHeroImageBackground {
          top: -2vw;
          right: 22vw;
          height: 30vw;
          width: 7vw;
        }
      }

      #cFlakesHomeHero1 {
        width: 33vw;
        top: 80px;
      }

      #cFlakesHomeHero2 {
        width: 46%;
        left: 27%;
      }
    }

    section#homeAboutSection {
      #homeAboutContainer {
        #homeAboutImageContainer {
          #homeAboutImageBackground {
            height: 38.5vw;
          }
        }
      }
    }

    section#homeServicesSection {
      #homeServicesBottomContainer {
        #homeServicesImageContainer {
          #homeServicesImageBackground {
            height: 53.5vw;
          }
        }
      }
    }
  }
}
