@media (min-width: 1024px) {
  #home {
    padding: 2.5% 5%;

    .homeTitle {
      font-size: 40px;
    }

    section#homeTitleSection {
      #homeTitle {
        font-size: 3vw;
        width: 100%;
      }

      h2 {
        font-size: 1.5vw;
        font-weight: 400;
        width: 67%;
      }

      #homeSubtitle1 {
        margin-top: 1.5vw;
      }

      #homeSubtitle2 {
        margin-bottom: 2.5vw;
      }

      #homeHeroContainer {
        #homeHero {
          width: 60%;
          margin: auto;
        }

        #homeHeroImageBackground {
          top: -3vw;
          right: 15vw;
          height: 39.5vw;
          width: 10vw;
        }
      }

      #cFlakesHomeHero1 {
        width: 45vw;
      }

      #cFlakesHomeHero2 {
        width: 60%;
        left: 20%;
      }
    }

    section#homeAboutSection {
      #homeAboutContainer {
        width: 800px;
        margin: auto;
        padding: 50px;

        #homeAboutImageContainer {
          width: 2500px !important;
          height: 275px;

          #homeAboutImage {
            width: 2500px;
            height: 275px !important;
          }

          img#cFlakesHomeAbout3 {
          }

          #homeAboutImageBackground {
            height: 325px !important;
          }
        }

        #homeAboutTextContainer {
          padding: 0 25px;
          h1 {
            font-size: 40px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }

    section#homeServicesSection {
      div#homeServicesTopContainer {
        div#homeServicesTitleContainer {
          h2 {
            font-size: 16px;
          }
        }

        div#homeServicesStatsContainer {
          .homeServicesStatContainer {
            .homeServicesStatNumber {
              font-size: 56px;
            }

            .homeServicesStatTitle {
              font-size: 16px;
            }
          }
        }
      }

      #homeServicesBottomContainer {
        div#homeServicesImageContainer {
          img#homeServicesImage {
          }
        }

        div#homeServicesImageBackground {
          height: calc(100% + 6vw);
        }

        #cFlakesHomeServices1 {
        }

        div#homeServicesTextContainer {
          .homeServicesTextContainer {
            .homeServicesTextTitle {
              font-size: 32px;
            }

            .homeServicesTextDescription {
              font-size: 16px;
            }
          }

          #homeServicesText4 {
          }

          #homeServicesTextButton {
            font-size: 16px;
          }
        }
      }
    }

    section#homeWhyCivitasSection {
      div#homeWhyCivitasLeftContainer {
        p {
        }

        .homeWhyCivitasText {
          font-size: 16px;
        }

        a#homeWhyCivitasButton {
          font-size: 16px;
        }
      }

      div#homeWhyCivitasRightContainer {
        img#homeWhyCivitasImage {
        }

        img#cFlakesHomeWhyCivitas1 {
        }
      }
    }
  }

  section#homeFaqSection {
    #cFlakesHomeFaq1 {
      right: -5vw !important;
      top: -10vw !important;
      width: 25vw !important;
    }
  }

  section#homeContactSection {
    #cFlakesHomeContact1 {
      right: -8vw;
      width: 10vw;
      top: 0vw;
    }

    #cFlakesHomeContact2 {
      left: -5.3vw;
      width: 15vw;
      bottom: 0vw;
    }
  }
}
