@media (max-width: 750px) {
  #home {
    .homeTitle {
      font-size: 32px;
    }

    section#homeTitleSection {
      #homeTitle {
        font-size: 32px;
        width: 80%;
      }

      h2 {
        font-size: 16px;
        width: 100%;
      }

      #homeSubtitle1 {
      }

      #homeSubtitle2 {
      }

      #homeHeroContainer {
        #homeHero {
        }

        #homeHeroImageBackground {
        }
      }

      #cFlakesHomeHero1 {
        top: -41vw;
        right: -34vw;
        width: 78vw;
        transform: rotate(81deg);
      }

      #cFlakesHomeHero2 {
      }
    }

    section#homeAboutSection {
      #cFlakesHomeAbout1 {
        display: none;
      }

      #cFlakesHomeAbout2 {
        left: 21vw !important;
        top: -39vw !important;
        width: 66vw !important;
        transform: scaleX(-1) rotate(45deg);
      }

      #homeAboutContainer {
        flex-direction: column-reverse;
        padding: 25px;
        margin-top: 100px;

        #homeAboutImageContainer {
          #homeAboutImage {
            object-position: left;
          }

          img#cFlakesHomeAbout3 {
          }

          #homeAboutImageBackground {
          }
        }

        #homeAboutTextContainer {
          h1 {
          }

          p {
            margin-bottom: 50px;
          }
        }
      }
    }

    section#homeServicesSection {
      div#homeServicesTopContainer {
        flex-direction: column;

        div#homeServicesTitleContainer {
          width: 100%;
          h2 {
            font-size: 16px;
          }
        }

        hr#homeServicesDivider {
          display: block !important;
          border: 1px solid $orange;
          margin: 2.5% 0 0;
        }

        div#homeServicesStatsContainer {
          width: 100%;
          .homeServicesStatContainer {
            .homeServicesStatNumber {
              font-size: 56px;
            }

            .homeServicesStatTitle {
              font-size: 16px;
            }
          }
        }
      }

      #homeServicesBottomContainer {
        flex-direction: column;
        div#homeServicesImageContainer {
          width: 100%;
          margin-bottom: 50px;

          img#homeServicesImage {
          }
        }

        div#homeServicesImageBackground {
          height: 59vw;
        }

        #cFlakesHomeServices1 {
        }

        div#homeServicesTextContainer {
          width: 100%;

          .homeServicesTextContainer {
            width: 100%;

            .homeServicesTextTitle {
              font-size: 24px;
              margin-bottom: 2.5%;
            }

            .homeServicesTextDescription {
              font-size: 16px;
              margin-bottom: 5%;
            }
          }

          #homeServicesText4 {
          }

          #homeServicesTextButton {
            font-size: 16px;
            margin-left: 0;
          }
        }
      }
    }

    section#homeWhyCivitasSection {
      flex-direction: column-reverse;

      div#homeWhyCivitasLeftContainer {
        width: 100%;
        margin-top: 2.5%;

        p {
        }

        .homeWhyCivitasText {
          font-size: 16px;
        }

        a#homeWhyCivitasButton {
          font-size: 16px;
        }
      }

      div#homeWhyCivitasRightContainer {
        width: 100%;

        img#homeWhyCivitasImage {
          width: 100%;
        }

        img#cFlakesHomeWhyCivitas1 {
          right: -20vw;
          top: -21vw;
        }
      }
    }
  }

  section#homeFaqSection {
    #homeFaqTitle {
    }
    #cFlakesHomeFaq1 {
      right: -10vw !important;
      width: 50vw !important;
      top: -14vw !important;
    }
  }

  section#homeContactSection {
    #cFlakesHomeContact1 {
      display: none;
    }

    #cFlakesHomeContact2 {
      left: -10vw !important;
      width: 100vw !important;
      bottom: unset !important;
      top: -20vw;
    }
  }
}
