@import "../../../constants/colors.scss";

#team {
  section#teamTitleSection {
    h1#teamTitle {
      font-size: 5vw;
      width: 57%;
    }
    p#teamSubtitle {
      width: 50%;
      font-size: 20px;
      margin: 7% auto;
    }
    img#cFlakesTeamTop1 {
      top: -20vw;
      right: -10vw;
      width: 50vw;
    }
    img#cFlakesTeamTop2 {
      left: -22vw;
      top: 15vw;
      width: 45vw;
      transform: scaleX(-1) scaleY(-1) rotate(27deg);
    }
  }
  section#teamPartnersSection {
    h2#teamPartnersTitle {
      font-size: 40px;
    }
    p#teamPartnersDescription {
      width: 50%;
      margin: 2.5% 0;
    }
    div#teamPartnersContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10%;
    }
  }
  section#teamMembersSection {
    h2#teamMembersTitle {
      font-size: 40px;
    }
    p#teamMembersDescription {
      width: 50%;
      margin: 2.5% 0 5%;
    }

    .teamMember {
      width: 30%;
      max-width: 300px;

      h3.teamMemberName {
        font-size: 32px;
        margin-top: 2.5%;
      }
    }

    div#teamMembersTopContainer {
      display: flex;
      position: relative;
      justify-content: space-between;

      img#cFlakesTeamBottom1 {
        right: -10vw;
        top: -14vw;
        width: 56vw;
      }
    }

    div#teamMembersBottomContainer {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5%;
    }

  }
  section#teamContactSection {
    img#cFlakesTeamContact1 {
      left: -10vw;
      top: -17vw;
      width: 33vw;
    }
    img#cFlakesTeamContact2 {
      right: -10vw;
      bottom: -3vw;
      width: 25vw;
    }
  }
}
