@media (max-width: 750px) {
  #team {
    section#teamTitleSection {
      margin-bottom: 33%;
      h1#teamTitle {
        font-size: 32px;
        width: 77%;
      }

      p#teamSubtitle {
        width: 100%;
        font-size: 16px;
      }

      img#cFlakesTeamTop1 {
      }

      img#cFlakesTeamTop2 {
        bottom: -34vw;
        top: unset !important;
        left: -10vw;
        width: 50vw;
      }
    }

    section#teamPartnersSection {
      h2#teamPartnersTitle {
        font-size: 32px;
      }

      p#teamPartnersDescription {
        width: 100%;
        margin-bottom: 5%;
      }

      div#teamPartnersContainer {
      }
    }

    section#teamMembersSection {
      h2#teamMembersTitle {
        font-size: 32px;
      }

      p#teamMembersDescription {
        width: 100%;
      }

      .teamMember {
        width: 100%;
        margin: 2.5% auto 5%;
        max-width: 250px;
        h3.teamMemberName {
        }
      }

      div#teamMembersTopContainer {
        flex-direction: column;
        img#cFlakesTeamBottom1 {
        }
      }

      div#teamMembersBottomContainer {
        flex-direction: column;
      }
    }

    section#teamContactSection {
      img#cFlakesTeamContact1 {
      }

      img#cFlakesTeamContact2 {
      }
    }
  }
}
