@media (max-width: 750px) {
  #services {
    section#servicesTitleSection {
      h1#servicesTitle {
        font-size: 32px;
      }

      img#cFlakesServicesTop1 {
        top: -11vw;
        right: -20vw;
        width: 51vw;
        transform: rotate(45deg);
      }

      div#servicesTopContainer {
        flex-direction: column;
        div#servicesTopLeftContainer {
          width: 100%;
          p#servicesTopLeftText {
            margin-bottom: 5%;
          }
        }

        img#cFlakesServicesTop2 {
        }

        img#servicesTopRightImage {
          width: 100%;
        }
      }

      hr#servicesTitleDivider1,
      hr#servicesTitleDivider2 {
      }
    }

    section#servicesExamplesSection {
      h2#servicesExamplesTitle {
      }

      img#cFlakesServicesExamples1 {
        top: -7vw;
        right: -27vw;
        width: 48vw;
        transform: rotate(90deg);
      }

      #servicesExamplesContainer {
        .servicesExample {
          flex-direction: column;
          .servicesExampleImage {
            width: 100%;
          }

          .servicesExampleTextContainer {
            margin-left: 0;
            h3.servicesExampleTitle {
            }
          }
        }

        hr {
        }
      }
    }

    section#servicesBenefitsSection {
      h2#servicesBenefitsTitle {
        width: 100%;
        margin-bottom: 5%;
      }

      img#cFlakesServicesBenefits1 {
        display: none;
      }

      div#servicesBenefitsContainer {
        div.servicesBenefit {
          h3.servicesBenefitTitle {
          }

          p.servicesBenefitDescription {
          }
        }
      }
    }

    section#servicesFaqSection {
      h1#servicesFaqTitle {
      }

      #cFlakesServicesFaq1 {
        display: none;
      }
    }

    section#servicesContactSection {
      #cFlakesServicesContact1 {
        left: -10vw;
        width: 25vw;
        top: -13vw;
      }

      #cFlakesServicesContact2 {
        display: none;
      }
    }
  }
}
