@media (min-width: 1024px) {
    .contact {
  
      .contactTextContainer {
        
        .contactTitle {
          font-size: 32px;
        }
  
        .contactDescription {
          font-size: 16px;
        }

        a {
          font-size: 16px;
        }
      }
  
      .contactVideoContainer {
  
        .contactVideo {
        }
  
        .contactVideoBackground {
        }
      }
    }
}
