@import "../../../constants/colors.scss";

#footer {
  padding: 50px;
  font-size: 16px;
  font-family: "Nunito";
  background: $blue;
  color: white;
  margin-top: 80px;

  .footerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  #footerTop {
    align-items: flex-end;

    p#footerLogoText {
      margin-top: 25px;
      color: $orange;
    }
  }

  hr {
    border: 1px solid $orange;
  }

  #footerBottom {
    #footerInfoContainer {
      display: flex;
      justify-content: space-between;
      width: 33%;
    }
  }
}
