#footer {
  text-transform: uppercase;
  padding: 80px;
  font-size: 1vw;

  .footerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  #footerTop {
    align-items: flex-end;

    #footerNavMenu {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      width: 40%;

      li {
        a {
          font-size: 1vw;
        }
      }
    }
  }

  #footerBottom {
    #footerInfoContainer {
      display: flex;
      justify-content: space-between;
      width: 25%;
    }
  }
}
