@media (max-width: 750px) {
  #footer {
    padding: 25px;
    font-size: 16px;

    .footerSection {
      flex-direction: column;
    }

    #footerTop {
      align-items: flex-start !important;
      #footerNavMenu {

      }

      #footerLogoText {
        margin-bottom: 25px;
      }
    }

    #footerBottom {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      #footerInfoContainer {
        width: 220px;
        margin-top: 25px;
      }

      #footerRights {

      }
    }
  }
}
