@import '../../../constants/colors.scss';

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Nunito";
  border-bottom: 1px solid $orange;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  background: $blue;

  ul {
    display: flex;
    width: 67%;
    justify-content: space-around;
  }

  #navbarContactButton {
    border-radius: 32px;
    padding: 16px 24px;
    font-size: 1.5vw;
    background: $orange;
    color: $white;
    font-family: 'Nunito';
    text-transform: uppercase;
  }

  #navbarMobileContainer {
    display: none;
    width: 110px;
    justify-content: space-between;

    #navbarMobileMenu {
      display: flex;
      position: absolute;
      height: 200px;
      flex-direction: column;
      top: 80px;
      text-align: right;
      width: 250px;
      right: 0;
      background: white;
      border: 1px solid $orange;
      border-top: none;
      align-items: center;
      box-shadow: 3px 9px 9px 2px $gray;
      background: $blue;
      color: $white;
      z-index: 999;
    }
  }
}
