@media (max-width: 750px) {
  #navbar {
    ul {
        display: none;
    }
    #navbarContactButton {
        display: none;
    }
  }
  #navbarMobileContainer {
    display: flex !important;

    li {
        a {
          
        }
    }
  }
}
