@import "../../../constants/colors.scss";

#about {
  section#aboutTitleSection {
    h1#aboutTitle {
      font-size: 4.8vw;
      width: 70%;
    }
    h2#aboutSubtitle {
      width: 62%;
      font-size: 2.6vw;
      margin: 10% 0;
    }
    img#cFlakesAboutHero1 {
      width: 25vw;
      top: -10vw;
      left: -10vw;
    }
    img#aboutTopImage {
      width: 30%;
      position: absolute;
      top: -5vw;
      right: -5vw;
    }
    p#aboutTitleDescription {
      width: 58%;
      font-size: 1.6vw;
      margin-bottom: 5%;
    }
    div#aboutHeroContainer {
      position: relative;
      img#cFlakesAboutHero2 {
        width: 64vw;
        right: -18vw;
        top: -63vw;
        transform: rotate(339deg);
      }
      div#aboutHeroImageBorder {
        top: -3vw;
        right: -3.5vw;
        height: 48vw;
        width: 14vw;
      }
    }
  }

  section#aboutSellingPointsSection {
    img#cFlakesAboutSellingPoints1 {
      left: -10vw;
      top: -10vw;
    }
    img#cFlakesAboutSellingPoints2 {
      bottom: 0;
      right: -10vw;
    }
    div#aboutSellingPointsContainer {
      background: $blue;
      display: flex;
      padding: 5%;

      div#aboutSellingPointsImageContainer {
        width: 75%;
        img#aboutSellingPointsImage {
          height: 100%;
          object-fit: cover;
          z-index: 99;
          position: relative;
        }
        div#aboutSellingPointsImageBorder {
          width: 15vw;
          height: calc(100% - 4vw);
          left: 2vw;
          top: 2vw;
        }
      }
      div#aboutSellingPointsTextContainer {
        margin-left: 2.5%;
        color: white;

        h1#aboutSellingPointsTitle {
          font-size: 40px;
        }
        div.sellingPoint {
          span.sellingPointNumber {
            font-size: 32px;
            margin-right: 2.5%;
            color: $orange;
            font-family: "Cabin";
          }
        }
      }
    }
  }

  section#aboutMissionStatementSection {
    h1#aboutMissionStatementTitle {
      font-size: 40px;
      margin-bottom: 5%;
    }
    div#aboutMissionStatementContainer {
      display: flex;

      div#aboutMissionStatementImageContainer {
        width: 150%;
        position: relative;
        margin-right: 2.5%;

        img#aboutMissionStatementImage {
          height: 100%;
          object-fit: cover;
          z-index: 99;
          position: relative;
        }
        div#aboutMissionStatementImageBorder {
          width: 18vw;
          height: calc(100% - -4.7vw);
          left: -2.5vw;
          top: -2.5vw;
        }
      }

      div#aboutMissionStatementTextContainer {
        p#aboutMissionStatementText1 {
          margin-bottom: 2.5%;
        }
      }
    }
  }

  section#aboutSecuritySection {
    div#aboutSecurityImageContainer {
      display: flex;
      justify-content: flex-end;
      position: relative;
      img#cFlakesAboutSecurity1 {
        right: -10vw;
        width: 25vw;
        top: -25vw;
      }
      video#aboutSecurityImage {
        width: 67%;
      }
      div#aboutSecurityImageBorder {
        width: 15vw;
        height: calc(100% + 5vw);
        top: -2.5vw;
        right: -2.5vw;
      }
    }
    div#aboutSecurityContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;

      h1#aboutSecurityTitle {
        font-size: 40px;
      }

      div#aboutSecurityTextContainer {
        width: 50%;

        hr {
          margin-top: 5%;
          border: 1px solid $orange;
        }
      }
    }
  }

  section#aboutEnvironmentSection {
    div#aboutEnvironmentTitleContainer {
      display: flex;
      justify-content: flex-end;

      img#aboutEnvironmentTitleImage {
        width: 33%;
        object-fit: cover;
      }
      h1#aboutEnvironmentTitle {
        width: 33%;
        font-size: 40px;
        margin-left: 5%;
      }
      img#cFlakesAboutEnvironment1 {
        left: -10vw;
        top: -20vw;
        width: 50vw;
      }
    }
    .aboutEnvironmentContainer {
      margin: 5% 0;

      .aboutEnvironmentContentContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;

        img#cFlakesAboutEnvironment2 {
          right: -10vw;
          top: -13vw;
        }
        img#cFlakesAboutEnvironment3 {
          right: -10vw;
          bottom: -13vw;
        }
        img#cFlakesAboutEnvironment4 {
          right: -10vw;
          top: -7vw;
          width: 19vw;
        }
        p.aboutEnvironmentText {
          margin-right: 5%;
        }

        .aboutEnvironmentImage {
          width: 50%;
          position: relative;
        }
      }
      .aboutEnvironmentDivider {
        margin: 5% 0;
      }
    }
  }

  section#aboutConclusionSection {
    h1#aboutConclusionTitle {
      font-size: 40px;
    }
    div#aboutConclusionTextContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;

      p.aboutConclusionText {
        width: 45%;
      }
    }
  }

  section#aboutContactSection {
    position: relative;
    img#cFlakesAboutContact1 {
      left: -18vw;
      top: -9vw;
      width: 22vw;
    }
    img#cFlakesAboutContact2 {
      right: -18vw;
      bottom: 0vw;
      width: 20vw;
    }
  }
}
