@import '../../../constants/colors.scss';

.navMenu {
  &.closed {
    display: none !important;
  }

  .navLink {
    font-size: 1.75vw;
    color: $white;

    .active {
      color: $orange;
      font-weight: 600;
    }
  }
}
