@media (max-width: 750px) {
  .navMenu {
    &.footer {
      text-align: left !important;
      width: 100%;
      
      li {
        margin: 0;
        a {
          
        }
      }
      .navLink {
      }
    }
  }
}
