@import "../../../constants/colors.scss";

#contact {
  h1#contactTitle {
    font-size: 42px;
    width: 50%;
  }
  p#contactDescription {
    margin: 5% 0;
    width: 50%;
  }
  img#cFlakesContactTop1 {
    top: -10vw;
    width: 75vw;
    right: -10vw;
  }
  form#contactForm {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      margin: 2.5% 0;
      border-bottom: 1px solid $blue;
      padding: 2.5%;
      width: 100%;

      &:focus-within {
        outline: none;
        border-bottom: 1px solid $orange;
      }

      &::placeholder {
        color: $blue;
      }
    }

    textarea {
      height: 150px;
    }

    div.contactFormFieldContainer {
        position: relative;
        p.contactFormValidationError {
            position: absolute;
            left: 44%;
            color: $orange;
            bottom: -10px;
        }
    }

    button {
      width: 150px;
      margin-right: 0;
      margin-top: 2.5%;
    }
  }
}
